<div class="row">
  <div class="col-xs-12">
    <a routerLink="new" class="btn btn-success">Add New</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 table-responsive">
    <table class="table table-striped">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let userData of users;let i = index;">
        <td>{{userData.firstname}}</td>
        <td>{{userData.lastname}}</td>
        <td>{{userData.email}}</td>
        <td>{{userData.gender}}</td>
        <td>{{userData.country}}</td>
        <td>
          <div class="btn-group">
            <a [routerLink]="[i]" class="btn btn-default">View</a>
            <a [routerLink]="[i,'edit']" class="btn btn-primary">Edit</a>
            <a (click)="onDelete(userData.$key)" class="btn btn-danger">Delete</a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>